/* reset */
*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* ********* */

body {
    width: 100vw;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333;
}

main {
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 0.5rem;
    width: 100%;
    height: 100%;
}

article {
    width: 100%;
    height: 100%;
    padding-right: 0.5rem;
    padding-top: 1rem;
}

aside {
    width: 100%;
    height: 100%;
    padding-top: 1rem;
}

form {
    width: 100%;
    height: 100%;
}

button {
    border-radius: 0.3rem;
    color: #333;
}

button.frosted-glass:hover {
    background: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(40px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.15);
}

button.frosted-glass:active {
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.frosted-glass {
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

#text-field {
    border-radius: 0.3rem 0 0 0.3rem;
    display: grid;
    grid-template-rows: auto max-content;
    grid-template-rows: 1fr auto;
    width: 100%;
    height: 100%;
    padding-bottom: 0;
}

#text-input {
    resize: none;
    border-radius: 0.3rem;
    padding: 0.5rem;
    transition: box-shadow 200ms;
}

#text-input:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

legend {
    border-radius: 0.3rem;
    padding: 0 1rem;
    background: rgba(255, 255, 255, 0.7); 
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(200px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

#stats-field {
    width: 100%;
    height: 100%;
    border-radius: 0 0.3rem 0.3rem 0;
}

#stats-display {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: right;
    gap: 1rem;
}

.display-label {
    padding-bottom: 0.5rem;
}

.metric {
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 0 1rem;
}

#controls {
    display: flex;
    padding: 0.5rem 0;
}

#auto-mode {
    padding: 0 1rem;
    border-radius: 0.3rem;
}

#auto-mode > label {
    user-select: none;
    padding-left: 0.5rem;
    color: #333;

}

#auto-mode > input {
    width: 1.5rem;
    height: 1.5rem;
    accent-color: #eee;
}

#change-bg-btn {
    margin-right: auto;
    padding: 0.5rem 2rem;
}

#auto-mode {
    display: flex;
    align-items: center;
}

#submit-btn {
    padding: 0.5rem 2rem;
    margin-left: auto;
}

.count-display {
    border-radius: 0.3rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
}

.frosted-glass {
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}


@media screen and (max-width: 720px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: 80% 20%;
    }

    article {
        padding-right: 0;
    }

    #text-field {
        border-radius: 0.3rem 0.3rem 0 0 ;
    }

    #stats-field {
        border-radius: 0 0 0.3rem 0.3rem;
    }

    #stats-display {
        flex-direction: row;
    }
}